@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
$mainColor: #00133a;
$secondColor: #fabb27;

@font-face {
  font-family: esr;
  src: url("../fonts/eras-medium-itc.ttf");
}

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

body {
  font-family: "Heebo", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  // width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 65px;
  height: 65px;
  line-height: 70px;
  text-align: center;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba($color: #000000, $alpha: 16%);
  opacity: 0;
  z-index: 999;
  transition: all 0.5s;
  i {
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}

.iMenue {
  transform: rotate(-90deg);
  // @extend %transition;
}

.splash.displayNone {
  visibility: hidden;
  opacity: 0;
}

.overoading {
  overflow: hidden;
}

.splachParent {
  .loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #13326f;
    z-index: 999999;
    top: 0;
    left: 0;
    .boxLoading {
      width: 50px;
      height: 50px;
      margin: auto;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      &::before {
        content: "";
        width: 50px;
        height: 5px;
        background: #000;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
        animation: shadow 0.5s linear infinite;
      }
      &::after {
        content: "";
        width: 50px;
        height: 50px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        animation: animate 0.5s linear infinite;
      }
    }
  }
  // 方块动画
  @keyframes animate {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  // 底部框动画
  @keyframes shadow {
    0%,
    100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
  }
  @mixin position-center($text-align: center) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: $text-align;
  }

  .loading-text {
    @include position-center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    span {
      display: inline-block;
      margin: 0 5px;
      color: #fff;
      font-family: "Quattrocento Sans", sans-serif;
      @for $i from 0 through 10 {
        &:nth-child(#{$i + 1}) {
          filter: blur(0px);
          animation: blur-text 1.5s (#{$i/5}) + s infinite linear alternate;
        }
      }
    }
  }

  @keyframes blur-text {
    0% {
      filter: blur(0px);
    }
    100% {
      filter: blur(4px);
    }
  }
}

.sidenav {
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  top: -100%;
  background-color: transparent;
  box-shadow: 0 22px 22px rgba($color: #000000, $alpha: 5%);
  overflow-x: hidden;
  padding: 0 20px;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  .links {
    margin-bottom: 130px;
    margin-top: 60px;
    .sideLink {
      @extend %img-bg-style;
      padding-top: 150px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
      outline: 0 !important;
      display: block;
      margin-bottom: 10px;
      width: 350px;
      height: 250px;
      max-width: 100%;
      margin: auto;
      margin-bottom: 20px;
      h5 {
        color: #fff;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 40px;
      }
    }
    .aboutsideLink {
      background-color: #fff;
      h5 {
        color: $mainColor;
      }
    }
    .sideLink-1 {
      transform: translateX(-500px);
      transition: all 0.6s ease-in-out;
    }
    .sideLink-2 {
      transform: translateY(-500px);
      transition: all 0.6s ease-in-out;
    }
    .sideLink-3 {
      transform: translateX(500px);
    }
    transition: all 0.6s ease-in-out;
    .sideLink-4 {
      transform: translateY(500px);
      transition: all 0.6s ease-in-out;
    }
  }

  .closebtn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    // margin-left: 50px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-500px);
    @extend %transition;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid #fff;
      color: #fff !important;
      line-height: 37px;
      // @extend %transition;
    }
  }
  .logo {
    width: auto;
    max-width: 205px;
    margin-bottom: 29px;
    margin-top: 39px;
    // padding: 10px;
    transform: translateY(-500px);
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
}

.sidenavActive {
  background-color: #003d94;
  opacity: 1;
  visibility: visible;
}

.closeBtnActive {
  transform: translateY(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.logoActive {
  transform: translateY(0) !important;
  position: unset !important;
  top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.activeSideNavLinks {
  .sideLink-1 {
    transform: translateX(0) !important;
    position: unset !important;
    left: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .sideLink-2 {
    transform: translateY(0) !important;
    position: unset !important;
    top: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .sideLink-3 {
    transform: translateX(0) !important;
    position: unset !important;
    right: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .sideLink-4 {
    transform: translateY(0) !important;
    position: unset !important;
    // bottom: unset;
    // top: 100% !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.openMenuActive {
  height: 100vh;
  overflow: hidden;
  // display: none;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 50%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.slider-item {
  &:focus {
    outline: 0 !important;
  }
}

.form-control {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: 1px solid $mainColor;
  }
}

.slick-next,
.slick-prev {
  z-index: 10;
}

.topheader {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  .lang {
    .spanLabel {
      font-size: 14px;
      font-weight: 200;
    }
    .nice-select {
      float: none;
      display: inline-block;
      border: 0;
      // padding: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-weight: bold;
      color: #002060;
      font-size: 14px;
      height: 33px;
      line-height: 33px;
    }
  }

  .social {
    text-align: right;
    line-height: 33px;
    // border-left: 1px solid #ddd;
    a {
      display: inline-block;
      margin-left: 21px;
      i {
        color: #002060;
      }
    }
  }
  .topheader-links {
    text-align: right;
    ul {
      margin-bottom: 0;
      margin-top: 5px;
    }
    li {
      display: inline-block;
      margin-left: 24px;
      a {
        color: #002543;
        font-size: 14px;
      }
    }
  }
}

.customNavbar {
  padding-top: 10px;
  padding-bottom: 13px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 9999;
  width: 100%;
  .logo {
    text-align: left;
    img {
      width: 170px;
    }
  }
  .navIcon {
    text-align: right;
    margin-top: 16px;
    a {
      cursor: pointer;
      color: #fff;
    }
    i {
      font-size: 20px;
      color: #fff;
    }
  }
}

.header {
  .bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url("../video/video.mp4") no-repeat center center/cover;
    video {
      min-width: 100%;
      min-height: 100vh;
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.7) 50%
      );
      background-size: 3px 3px;
      z-index: 2;
    }
    .header-content {
      position: absolute;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      .caption-header {
        font-size: 53px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 7px;
        z-index: 9999;
        position: relative;
        font-family: esr;
      }
      .caption-par {
        width: 764px;
        margin: auto;
        font-size: 16px;
        color: #fff;
        z-index: 9999;
        position: relative;
        max-width: 100%;
      }
      .arrows {
        position: absolute;
        bottom: -50px;
        animation: arrowsanimation 1s infinite;
        i {
          color: #fff;
          display: block;
          margin-bottom: -14px;
        }
        .arrow-02 {
          opacity: 0.8;
        }
        .arrow-03 {
          opacity: 0.6;
        }
      }
    }
  }
  .typed-cursor {
    visibility: hidden;
  }
}

@keyframes arrowsanimation {
  0% {
    transform: translate(0, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(0, 10px);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.7;
  }
}

.aboutHome {
  padding-top: 135px;
  padding-bottom: 96px;
  position: relative;
  overflow: hidden;
  .about-after {
    position: absolute;
    right: 0;
    bottom: -231px;
  }
  .about-content {
    h6 {
      color: #ff0000;
      font-size: 18px;
      margin: 0;
    }
    h5 {
      margin: 0;
      margin-top: 12px;
      color: $mainColor;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 19px;
    }
    p {
      font-size: 14px;
      color: rgba($color: #002060, $alpha: 1);
      margin: 0;
      margin-bottom: 40px;
      line-height: 25px;
    }
  }
  .about-img {
    margin-left: 40px;
    text-align: right;
    img {
      margin-top: -15px;
    }
  }
}
.btn-more {
  .btnMore {
    background-image: linear-gradient(to right, #da007e, #ff6066);
    box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 16%);
    padding: 15px 4px;
    padding-right: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    width: 185px;
    display: inline-block;
    position: relative;
    @extend %transition;
    span {
      // margin-right: 34px;
    }
    i {
      width: 37px;
      height: 37px;
      border-radius: 4px;
      background-color: #fff;
      color: #ff0000;
      text-align: center;
      line-height: 37px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 6px;
      @extend %transition;
    }
    &:hover {
      // color: $mainColor;
      box-shadow: none;
      i {
        border-radius: 50%;
      }
    }
  }
}

.our-insights-parent {
  background-image: linear-gradient(to right, #f8faff, #f3f6ff);
  .se-header {
    text-align: center;
    padding-top: 40px;
    h5 {
      color: $mainColor;
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: bold;
    }
  }
}

.ourInsights {
  display: flex;
  // align-items: center;
  overflow: hidden;
  .item {
    flex-grow: 1;
    // flex: 0 1 25%;
    height: 600px;
    background-color: darkred;
    position: relative;
    transition: all 300ms ease-in-out;
    @extend %img-bg-style;
    background-position: center !important;
    &:hover {
      flex-grow: 2.3;
      background-color: lighten(darkred, 20);
      .item-content {
        visibility: visible;
        opacity: 1;
        display: block;
      }
      .overlay {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    } // hover
    .item-content {
      padding-left: 48px;
      padding-top: 116px;
      visibility: hidden;
      // display: none;
      // border: 1px solid #000;
      position: absolute;
      height: 100%;
      opacity: 0;
      transition: all 0.5s ease;
      h5 {
        font-size: 20px;
        font-weight: bold;
        width: 260px;
        max-width: 100%;
        position: relative;
        z-index: 9;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        padding-left: 10px;
        line-height: 29px;
        &::before {
          content: "";
          background-color: #ff0000;
          width: 4px;
          height: 107px;
          position: absolute;
          left: 0;
        }
      }
      p {
        font-size: 14px;
        width: 384px;
        max-width: 100%;
        position: relative;
        z-index: 9;
        color: #fff;
        line-height: 24px;
        margin: 0;
        margin-top: 50px;
      }
      .see-more {
        position: absolute;
        bottom: 40px;
        span {
          font-size: 14px;
          color: #fff;
          position: relative;
        }
        i {
          color: #fff;
          z-index: 9;
          position: relative;
        }
      }
    }
    .overlay {
      visibility: hidden;
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 60%);
    }
    // &:before {
    //   content: attr(data-order);
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   color: white;
    // } // before
  } // item
}

.our-services {
  margin-top: 100px;
  margin-bottom: 77px;

  .section-header {
    text-align: center;
    padding-bottom: 11px;
    position: relative;
    h6 {
      color: #ff0000;
      font-size: 18px;
      margin: 0;
      margin-bottom: 11px;
    }
    h5 {
      font-size: 38px;
      font-weight: bold;
      margin: 0;
      margin-bottom: 11px;
      color: $mainColor;
      text-transform: uppercase;
    }
    p {
      color: #002060;
      font-size: 14px;
      line-height: 24px;
      width: 564px;
      margin: auto;
      max-width: 100%;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 54px;
      height: 5px;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #ff0000;
    }
  }
  .serv-content {
    margin-top: 120px;
    h5 {
      font-size: 28px;
      font-weight: bold;
      color: #002060;
      margin: 0;
      margin-bottom: 30px;
    }
    p {
      margin: 0;
      color: #002060;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      margin-bottom: 48px;
    }
  }
  .serv-img {
    text-align: right;
    margin-top: 40px;
    position: relative;
    .imgAfter {
      position: absolute;
      right: -47px;
      top: 53px;
      z-index: -1;
      img {
        opacity: 0.6;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to right,
          rgba(#002060, 0.8),
          rgba(#ff0000, 0.8)
        );
      }
    }
  }
  .btn-more {
    margin-top: 60px;
    .btnMore {
      width: 225px;
    }
  }
  .services-slider {
    .slick-list {
      padding-bottom: 60px;
    }
    .slider-item {
      margin-right: 25px;
      margin-left: 25px;
      text-align: center;
      .serv-img .imgAfter {
        position: absolute;
        right: -36px;
        top: 19px;
      }
      .card-title {
        color: #fff;
        margin-top: 10px;
        text-align: center;
      }
    }
    .slick-arrow {
      // top: 100%;
      &::before {
        position: absolute;
        color: #000;
      }
    }
    .slick-prev {
      // left: 45%;
      &::before {
        // left: 47%;
        content: "\f060";
        @extend %init-font-awesome;
        font-weight: 900;
        line-height: 37px;
        color: $mainColor;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 1px solid $mainColor;
      }
    }
    .slick-next {
      // right: 46%;
      &::before {
        // right: 47%;
        content: "\f061";
        @extend %init-font-awesome;
        font-weight: 900;
        color: $mainColor;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 1px solid $mainColor;
        line-height: 37px;
      }
    }
    .slick-dots {
      margin-bottom: 20px;
    }
    .slick-dots li {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }
    .slick-dots li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ebebeb;
      transition: all 0.3s;
      margin-right: 1.5px;
      margin-left: 1.5px;
    }
    .slick-dots li button {
      visibility: hidden;
    }
    .slick-dots .slick-active {
      width: 11px;
      height: 11px;
      background-color: $mainColor;
      display: inline-block;
    }
  }
}

.breadcrumb {
  background-color: #00133a;
  padding: 125px 0;
  text-align: center;
  position: relative;
  border-radius: 0;
  h6 {
    font-size: 160px;
    font-weight: bold;
    color: #00133a;
    position: absolute;
    text-shadow: -1px 0 rgba($color: #e7e7e7, $alpha: 20%),
      0 1px rgba($color: #e7e7e7, $alpha: 20%),
      1px 0 rgba($color: #e7e7e7, $alpha: 20%),
      0 -1px rgba($color: #e7e7e7, $alpha: 20%);
    z-index: 3;
    top: 50%;
    transform: translate(0, -50%);
    text-transform: uppercase;
  }
  h5 {
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 13px;
    color: #fff;
    position: relative;
    z-index: 5;
  }
  p {
    color: #fff;
    font-size: 14px;
    width: 564px;
    max-width: 100%;
    margin: auto;
    position: relative;
    z-index: 5;
  }
}

.ourServisePage {
  margin-bottom: 110px;
  .our-services {
    // position: relative;
    margin-top: 0;
    margin-bottom: 0;
    .btn-more {
      text-align: left !important;
      margin-top: 0 !important;
      .btnMore {
        width: 185px;
      }
    }
    .serv-content {
      position: relative;
      .number {
        font-size: 57px;
        color: #002060;
        font-weight: bold;
        position: relative;
        z-index: 4;
      }
      h5,
      p {
        position: relative;
        z-index: 4;
      }
      .bigNumber {
        position: absolute;
        font-size: 205px;
        color: #fff;
        top: -88px;
        left: -70px;
        font-weight: bold;
        z-index: 1;
        text-shadow: -1px 0 rgba($color: #c9c9c9, $alpha: 40%),
          0 1px rgba($color: #c9c9c9, $alpha: 40%),
          1px 0 rgba($color: #c9c9c9, $alpha: 40%),
          0 -1px rgba($color: #c9c9c9, $alpha: 40%);
      }
    }
    .serv-img {
      margin-top: 90px;
      .imgAfter {
        top: 73px !important;
      }
    }
    .leftCard {
      .serv-img {
        text-align: left !important;
        .imgAfter {
          right: unset;
          left: -47px;
        }
      }
    }
  }
}

.bgMoveParent {
  overflow: hidden;
}

.service-detials {
  .serv-header {
    position: relative;
    h5 {
      font-size: 135px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      text-shadow: -1px 0 rgba($color: #003d94, $alpha: 7%),
        0 1px rgba($color: #003d94, $alpha: 7%),
        1px 0 rgba($color: #003d94, $alpha: 7%),
        0 -1px rgba($color: #003d94, $alpha: 7%);
      position: absolute;
      top: -60px;
    }
  }
  .ser-breadcrumb {
    margin-top: 70px;
    h5 {
      font-size: 42px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 7px;
      position: relative;
      z-index: 9;
    }
    ul {
      display: block !important;
      margin-bottom: 47px;
      position: relative;
      z-index: 9;
      li {
        display: inline-block;
        position: relative;
        z-index: 9;
        position: relative;
        padding-left: 8px;
        padding-right: 8px;
        a {
          color: rgba(#002060, 70%);
          font-size: 14px;
        }
        &::after {
          content: "\f111";
          @extend %inilize-ui-icons;
          position: absolute;
          top: 5px;
          right: -10px;
          color: rgba(#002060, 70%);
        }
        &:first-child {
          padding-left: 0;
          a {
            position: relative;
            &::before {
              content: "\f1a3";
              @extend %inilize-ui-icons;
              color: $mainColor;
              margin-top: 2px;
              margin-right: 5px;
              color: rgba(#002060, 70%);
            }
          }
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
  }
  .serv-img-content {
    .servContent {
      p {
        margin: 0;
        margin-bottom: 28px;
        color: rgba(#002060, 70%);
        line-height: 24px;
        font-size: 16px;
      }
    }
    .serv-img {
      text-align: right;
      .imgAfter {
        position: absolute;
        right: -100px;
        top: 53px;
        z-index: -1;
        img {
          opacity: 0.6;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            to right,
            rgba(#002060, 0.8),
            rgba(#ff0000, 0.8)
          );
        }
      }
    }
  }
  .aboutTheServ {
    margin-top: 150px;
    .aboutHead {
      h5 {
        font-size: 35px;
        color: #002060;
        font-weight: bold;
        margin: 0;
        width: 362px;
        max-width: 100%;
        position: relative;
        &::before {
          position: absolute;
          left: 40%;
          top: -170px;
          transform: translate(-40%, 0);
          content: "";
          background-color: #ff0000;
          width: 2px;
          height: 164px;
        }
        &::after {
          content: url("../images/line-after.png");
          position: absolute;
          top: 100%;
          margin-top: 40px;
          left: -5%;
        }
      }
    }
    .aboutPar {
      p {
        font-size: 16px;
        color: rgba($color: #002060, $alpha: 70%);
      }
    }
  }
  .featureList {
    margin-top: 136px;
    .listUl {
      padding-left: 160px;
      margin-top: 40px;
      ul {
        li {
          position: relative;
          padding-left: 32px;
          margin-bottom: 20px;
          .number {
            position: absolute;
            font-size: 16px;
            color: #002060;
            font-weight: bold;
            left: 0;
          }
          p {
            color: rgba($color: #002060, $alpha: 70%);
          }
        }
      }
    }
    .feat-cards {
      .customMargin {
        margin-top: 25px;
      }
      .fCard {
        background-color: #efefef;
        text-align: center;
        padding: 15px;
        border-radius: 13px;
        margin-bottom: 20px;
        .card-number {
          font-size: 53px;
          color: #ff0000;
          font-weight: bold;
        }
        .card-text {
          color: rgba($color: #002060, $alpha: 70%);
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
  .empty-col {
    background-color: #032a79;
    height: 237px;
  }
  .nextPervious {
    .row {
      margin: 0;
      .col-sm-12 {
        padding: 0;
      }
    }
    .cardNews {
      @extend %img-bg-style;
      padding-left: 65px;
      padding-right: 65px;
      padding-top: 44px;
      padding-bottom: 44px;
      position: relative;
      display: block;
      @extend %transition;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#002060, 0.8);
      }
      h6 {
        font-size: 16px;
        font-weight: normal;
        font-weight: 100;
      }
      .card-title {
        font-size: 24px;
      }
      .card-text {
        font-size: 14px;
      }
      h6,
      h5,
      p,
      i {
        color: #fff;
        position: relative;
        z-index: 9;
      }
      i {
        color: #ff0000;
      }
    }
    .prevCard {
      text-align: right;
    }
    .nextCard {
      text-align: left;
    }
  }
}

.about-breadcrumb {
  padding-top: 95px;
  padding-bottom: 78px;
  position: relative;
  @extend %img-bg-style;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #002060, $alpha: 70%);
  }
  .secheader {
    position: absolute;
    top: 10px;
    left: -20px;
  }
  h5,
  p,
  a {
    position: relative;
    z-index: 9;
  }
  h5,
  p {
    color: #fff;
  }
  h5 {
    font-size: 53px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 13px;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 36px;
    width: 564px;
    max-width: 100%;
  }
  .btn-more {
    .btnMore {
      box-shadow: 0 3px 20px rgba($color: #e92774, $alpha: 61%);
    }
  }
}

.aboutContentImg {
  margin-top: 65px;
  .about-content {
    margin-top: 45px;
    h5 {
      color: #002060;
      font-size: 28px;
      margin: 0;
      margin-bottom: 13px;
    }
    p {
      color: rgba($color: #002060, $alpha: 70%);
      font-size: 16px;
      margin-bottom: 20px;
      width: 540px;
      line-height: 28px;
      max-width: 100%;
    }
  }
  .about-img {
    text-align: right;
    img {
      max-height: 482px;
    }
  }
}

.aboutCards {
  margin-bottom: 56px;
  margin-top: 102px;
  .aboutCar {
    margin-bottom: 30px;
  }
  .card-img {
    @extend %img-bg-style;
    border-radius: 0;
    position: relative;
    h5 {
      font-size: 41px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      bottom: -12px;
      left: -2px;
      margin: 0;
    }
  }
  .card-text {
    margin: 0;
    color: rgba(#002060, 70%);
    font-size: 16px;
    margin-top: 26px;
  }
}

.contactUs {
  .secHeader {
    position: relative;
    top: -10px;
    z-index: 9;
    img {
      position: absolute;
    }
  }
  .contact-form-img {
    padding-top: 90px;
    overflow: hidden;
    .parentRow {
      margin: 0;
      .parentCol {
        padding: 0;
      }
    }
    .contact-form {
      padding-left: 91px;
      padding-right: 100px;
      h5 {
        font-size: 47px;
        color: #002060;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
      }
      p {
        color: rgba(#002060, 100%);
        font-size: 14px;
        width: 465px;
        max-width: 100%;
        margin-bottom: 34px;
        position: relative;
        z-index: 10;
      }
      .btn-more {
        margin-top: 20px;
      }
    }
    .form-group {
      .form-control {
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #ff0000;
        &::placeholder {
          font-size: 14px;
          color: rgba($color: #000000, $alpha: 70%);
        }
      }
      textarea {
        height: 74px !important;
      }
    }
    .form-img {
      margin-left: 90px;
      margin-top: -50px;
      .card-img {
        // height: 650px;
        padding-bottom: 156px;
        padding-top: 156px;
        width: 640px;
        padding-left: 110px;
        padding-right: 85px;
        max-width: 100%;
        border-radius: 0;
        position: relative;
        z-index: 10;
        @extend %img-bg-style;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(#00133a, 54%);
          z-index: 10;
        }
        p {
          font-size: 50px;
          font-weight: 500;
          color: #fff;
          width: 445px;
          max-width: 100%;
          position: relative;
          z-index: 11;
          line-height: 62px;
          margin: 0;
        }
      }
    }
  }
  .contact-map {
    margin-top: -50px;
    iframe {
      height: 564px;
      width: 100%;
      filter: grayscale(1);
    }
  }
  .contact-info {
    padding-top: 121px;
    // padding-bottom:20px;
    @extend %img-bg-style;
    position: relative;
    margin-top: -10px;
    overflow: hidden;
    &::after {
      background-color: rgba(#002060, 88%);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
    }
    .contact-card {
      position: relative;
      z-index: 9;
      padding-left: 70px;
      padding-bottom: 26px;
      height: 123px;
      .card-img {
        position: absolute;
        left: 0;
      }
      .card-title,
      .card-text {
        color: #fff;
        margin: 0;
      }
      .card-title {
        font-size: 16px;
        font-weight: bold;
      }
      .card-text {
        font-size: 14px;
      }
      &::after {
        content: "";
        width: 65px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 70px;
        bottom: 0;
      }
    }
    .contactInfoHeader {
      text-align: center;
      margin-top: 153px;
      h5 {
        font-size: 135px;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        z-index: 9;
        margin: 0;
      }
      p {
        color: #fff;
        position: relative;
        z-index: 10;
      }
    }
    .clouds {
      position: absolute;
      bottom: -15px;
      z-index: 9;
      animation: moveclouds 15s linear infinite;

      img {
        float: right;
        width: 50%;
        display: inline;
      }
    }
  }
  .copy {
    position: relative;
    margin-top: 40px;
    z-index: 11;
    padding-top: 24px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(#ffffff, 50%);
    h5 {
      font-size: 14px;
      color: rgba(#fff, 83%);
      font-weight: normal;
      margin: 0;
    }
    .soacial {
      text-align: right;
      a {
        i {
          color: #fff;
          margin-left: 15px;
        }
      }
    }
  }
}

.siteFooter {
  background-color: #002060;
  padding-top: 74px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  .lichtCircle {
    position: absolute;
    // top: -30px;
    // left: 50%;
    // transform: translate(-50%, 0)
    // animation: circleanimation 1s infinite ease;
  }
  .lines {
    position: absolute;
    top: 0;
    opacity: 0.4;
  }
  .line-01 {
    right: 44px;
  }
  .line-02 {
    right: 164px;
  }
  .line-03 {
    right: 330px;
  }
  .line-04 {
    left: 345px;
  }
  .line-05 {
    left: 235px;
  }
  .line-06 {
    left: -70px;
    top: 60px;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 67px;
  }
  .footer-links {
    text-align: center;
    // float: left;
    li {
      display: inline-block;
      margin-left: 31px;
      margin-right: 31px;
      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -40px;
          // left: 50%;
          transform: translate(0, -50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #024ac6;
        }
      }
      &:first-child {
        a {
          &::after {
            content: "";
            display: none;
          }
        }
      }
    }
  }
  .copy {
    margin-top: 70px;
    border-top: 1px solid rgba($color: #fff, $alpha: 10%);
    padding-top: 24px;
    h5 {
      margin: 0;
      color: rgba($color: #043baa, $alpha: 83%);
      font-size: 14px;
      text-align: left;
      font-weight: normal;
    }
    .social {
      text-align: right;
      i {
        color: rgba($color: #043baa, $alpha: 83%);
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
}

.breadcrumb.servDebreadcrumb{
  h6{
    font-size: 100px !important;
  }
}

@keyframes circleanimation {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
  .service-detials .serv-img-content .serv-img .imgAfter {
    right: 0;
  }
  .service-detials .serv-header h5 {
    font-size: 91px;
  }
  .aboutContentImg .about-content {
    margin-top: 0;
  }
  .contactUs .contact-form-img .contact-form {
    padding-right: 0;
  }
  .contactUs .contact-form-img .contact-form h5 {
    font-size: 43px;
  }
  .contactUs .contact-form-img .form-img .card-img p {
    font-size: 38px;
    line-height: 48px;
  }
}

@media (max-width: 991px) {
  .topheader {
    // display: none;
    .social,
    .lang {
      // display: none;
    }
    .topheader-links {
      text-align: center;
      li {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  .aboutHome .about-img img {
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .our-services .serv-img {
    text-align: center;
    margin-bottom: 20px;
  }
  .our-services .serv-img .imgAfter {
    right: 110px;
  }
  .ourInsights {
    display: block;
  }
  .ourInsights .item .overlay,
  .ourInsights .item .item-content {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  .siteFooter .line-04,
  .line-03 {
    display: none;
  }
  .ourServisePage .our-services .serv-content .bigNumber {
    left: -15px;
  }
  .ourServisePage .our-services .serv-img {
    margin-top: 0;
  }
  .servCard {
    margin-bottom: 150px;
  }
  .ourServisePage .our-services .leftCard .serv-img {
    text-align: center !important;
  }
  .ourServisePage .our-services .leftCard .serv-img .imgAfter {
    left: 140px;
  }
  .ourServisePage .our-services .serv-img .imgAfter {
    top: 44px !important;
  }
  .ourServisePage .our-services .serv-img {
    margin-bottom: 60px;
  }
  .leftCard .serv-img {
    margin-bottom: 0;
  }
  .breadcrumb h6 {
    font-size: 100px;
  }
  .leftCard {
    margin-bottom: 80px;
  }
  .ourServisePage .our-services {
    margin-top: 30px;
  }
  .ourServisePage .our-services .leftCard .serv-img {
    margin-bottom: 0;
  }
  .service-detials .featureList .listUl {
    padding-left: 0;
  }
  .service-detials .empty-col {
    display: none;
  }
  .service-detials .nextPervious .cardNews {
    padding-left: 30px;
    padding-right: 30px;
  }
  .aboutContentImg .about-img {
    text-align: center;
  }
  .contactUs .contact-form-img .contact-form {
    padding-left: 0;
  }
  .contactUs .contact-form-img .form-img {
    margin-top: 30px;
  }
  .contactUs .contact-form-img .form-img {
    margin-left: 0;
  }
  .contactUs .contact-form-img .form-img .card-img {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .contactUs .contact-info .contact-card {
    margin-bottom: 30px;
  }
  .slick-next,
  .slick-prev {
    top: 100%;
  }
  .services-slider {
    .slick-prev {
      left: 5px !important;
    }
    .slick-next {
      right: 15px !important;
    }
  }
  .our-services .services-slider .slick-list {
    padding-bottom: 20px;
  }
  .our-services {
    padding-bottom: 30px;
  }
  .contactUs .contact-form-img .contact-form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .sidenav .social {
    position: unset;
    transform: none;
  }
  .sidenav .links {
    margin-bottom: 50px;
  }
}

@media (max-width: 960px) {
}

/* Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile & Tablets */
@media (max-width: 767px) {
}

/* Tablets */
@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
  .our-services .serv-img .imgAfter {
    right: 0;
  }
  .our-services .section-header h5 {
    font-size: 25px;
  }
  .topheader {
    text-align: center;
    .social {
      text-align: center;
    }
  }
  .header .bg-video-wrap .header-content .caption-par {
    width: 96%;
  }
  .ourInsights .item .item-content {
    padding-left: 16px;
  }
  .ourInsights .item .item-content p {
    width: 100%;
  }
  .siteFooter .footer-links li a::after {
    left: -16px;
  }
  .siteFooter .footer-links li {
    width: 25%;
  }
  .siteFooter .footer-links {
    text-align: left;
  }
  .siteFooter .footer-links li:first-child a::after {
    display: block !important;
  }
  .siteFooter .line-05 {
    display: none;
  }
  .breadcrumb h6 {
    font-size: 65px;
  }
  .ourServisePage .our-services .leftCard .serv-img .imgAfter {
    left: unset;
  }
  .siteFooter .copy .social {
    text-align: center;
  }
  .siteFooter .copy h5 {
    text-align: center;
  }
  .service-detials .serv-header h5 {
    font-size: 55px;
  }
  .service-detials .aboutTheServ .aboutHead h5::after {
    display: none;
  }
  .service-detials .aboutTheServ .aboutHead h5 {
    font-size: 28px;
  }
  .service-detials .featureList {
    margin-top: 46px;
  }
  .contactUs .copy {
    text-align: center;
    .soacial {
      text-align: center;
      margin-top: 20px;
    }
  }
  .contactUs .contact-info .contactInfoHeader h5 {
    font-size: 100px;
  }
  .our-services .services-slider .slider-item .serv-img .imgAfter {
    top: 38px;
  }
  .services-slider .slick-next {
    right: 30px !important;
  }
  .activeSideNavLinks:nth-child(2) {
    transform: translateY(10px) translate(0px);
  }
}

@media (max-width: 376px) {
  .siteFooter .footer-links li {
    width: auto;
  }
  .service-detials .featureList .listUl ul li .number {
    position: unset;
  }
  .service-detials .featureList .listUl ul li {
    padding-left: 0;
  }
  .our-services .services-slider .slider-item .card-title {
    margin-top: 22px;
  }
  .our-services .services-slider .slick-dots {
    margin-bottom: 0;
  }
}

@media (max-width: 321px) {
  .aboutHome .about-content h5 {
    font-size: 30px;
  }
  .service-detials .serv-header h5 {
    font-size: 40px;
  }
  .contactUs .contact-form-img .form-img .card-img p {
    font-size: 27px;
  }
  .our-services .services-slider .slick-dots {
    margin-top: 0;
  }
}

.ourServisePage .our-services .leftCard .btn-more {
  text-align: right !important;
}

.activeInput {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(2px);
}

%inilize-ui-icons {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%img-bg-style {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

%img-bg-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

%link-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%init-font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

%line-after-secton-header {
  content: "";
  position: absolute;
  background-color: #25a1a5;
  border-radius: 10px;
  width: 41px;
  height: 5px;
  bottom: 0;
  left: 0;
}
