@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: esr;
  src: url("../fonts/eras-medium-itc.ttf");
}
html {
  scroll-behavior: smooth;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

body {
  font-family: "Heebo", sans-serif;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#floating {
  position: fixed;
  z-index: 1;
  width: 65px;
  height: 65px;
  line-height: 70px;
  text-align: center;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
  opacity: 0;
  z-index: 999;
  transition: all 0.5s;
}
#floating i {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.iMenue {
  transform: rotate(-90deg);
}

.splash.displayNone {
  visibility: hidden;
  opacity: 0;
}

.overoading {
  overflow: hidden;
}

.splachParent .loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #13326f;
  z-index: 999999;
  top: 0;
  left: 0;
}
.splachParent .loading .boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.splachParent .loading .boxLoading::before {
  content: "";
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.splachParent .loading .boxLoading::after {
  content: "";
  width: 50px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  animation: animate 0.5s linear infinite;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
.splachParent .loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.splachParent .loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.splachParent .loading-text span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(8) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.4s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(9) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.6s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(10) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.8s infinite linear alternate;
}
.splachParent .loading-text span:nth-child(11) {
  filter: blur(0px);
  animation: blur-text 1.5s 2s infinite linear alternate;
}
@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

.sidenav {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  background-color: transparent;
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
  padding: 0 20px;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;
  transition: all 0.2s ease-in-out !important;
  visibility: hidden;
  opacity: 0;
  display: none;
}
.sidenav .links {
  margin-bottom: 130px;
  margin-top: 60px;
  transition: all 0.6s ease-in-out;
}
.sidenav .links .sideLink {
  padding-top: 150px;
  visibility: hidden;
  opacity: 0;
  outline: 0 !important;
  display: block;
  margin-bottom: 10px;
  width: 350px;
  height: 250px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
  transition: transform 1s, opacity 0.8s !important;
  position: relative;
  overflow: hidden;
}
.sidenav .links .sideLink h5 {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
}
.sidenav .links .sideLink span {
  opacity: 0;
}
.sidenav .links .sideLink:hover {
  transform: scale(1.02) !important;
}
.sidenav .links .sideLink:hover span {
  opacity: 1;
}
.sidenav .links .sideLink span:nth-child(1) {
  position: absolute;
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, white 30%, #677ca0 100%, #677ca0);
  top: 0;
  left: 0;
  animation: line1 1s linear infinite;
}
@keyframes line1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.sidenav .links .sideLink span:nth-child(2) {
  position: absolute;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to bottom, white 30%, #677ca0 100%, #677ca0);
  top: 0;
  right: 0;
  animation: line2 1s linear 1.5s infinite;
}
@keyframes line2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.sidenav .links .sideLink span:nth-child(3) {
  position: absolute;
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, white 30%, #677ca0 100%, #677ca0);
  bottom: 0;
  left: 0;
  animation: line3 1s linear infinite;
}
@keyframes line3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sidenav .links .sideLink span:nth-child(4) {
  position: absolute;
  height: 100%;
  width: 10px;
  background-image: linear-gradient(to bottom, white 30%, #677ca0 100%, #677ca0);
  top: 0;
  left: 0;
  animation: line4 1s linear 1.5s infinite;
}
@keyframes line4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.sidenav .links .aboutsideLink {
  background-color: #fff;
}
.sidenav .links .aboutsideLink h5 {
  color: #00133a;
}
.sidenav .links .sideLink-1 {
  transform: translateX(-500px);
  transition: all 0.6s ease-in-out;
}
.sidenav .links .sideLink-2 {
  transform: translateY(-500px);
  transition: all 0.6s ease-in-out;
}
.sidenav .links .sideLink-3 {
  transform: translateX(500px);
}
.sidenav .links .sideLink-4 {
  transform: translateY(500px);
  transition: all 0.6s ease-in-out;
}
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-500px);
}
.sidenav .closebtn i {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #fff;
  color: #fff !important;
  line-height: 37px;
}
.sidenav .logo {
  width: auto;
  max-width: 205px;
  margin-bottom: 29px;
  margin-top: 39px;
  transform: translateY(-500px);
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.sidenavActive {
  background-color: #003d94;
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 9999999;
}

.closeBtnActive {
  transform: translateY(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.logoActive {
  transform: translateY(0) !important;
  position: unset !important;
  top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.activeSideNavLinks .sideLink-1 {
  transform: translateX(0) !important;
  position: unset !important;
  left: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.activeSideNavLinks .sideLink-2 {
  transform: translateY(0) !important;
  position: unset !important;
  top: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.activeSideNavLinks .sideLink-3 {
  transform: translateX(0) !important;
  position: unset !important;
  right: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.activeSideNavLinks .sideLink-4 {
  transform: translateY(0) !important;
  position: unset !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.openMenuActive {
  height: 100vh;
  overflow: hidden;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}

.slider-item:focus {
  outline: 0 !important;
}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border: 1px solid #00133a;
}

.slick-next,
.slick-prev {
  z-index: 10;
}

.topheader {
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.topheader .lang .spanLabel {
  font-size: 14px;
  font-weight: 200;
}
.topheader .lang .nice-select {
  float: none;
  display: inline-block;
  border: 0;
  padding-left: 0;
  padding-bottom: 0;
  font-weight: bold;
  color: #002060;
  font-size: 14px;
  height: 33px;
  line-height: 33px;
}
.topheader .social {
  text-align: right;
  line-height: 33px;
}
.topheader .social a {
  display: inline-block;
  margin-left: 21px;
}
.topheader .social a i {
  color: #002060;
}
.topheader .topheader-links {
  text-align: right;
}
.topheader .topheader-links ul {
  margin-bottom: 0;
  margin-top: 5px;
}
.topheader .topheader-links li {
  display: inline-block;
  margin-left: 24px;
}
.topheader .topheader-links li a {
  color: #002543;
  font-size: 14px;
}

.customNavbar {
  padding-top: 10px;
  padding-bottom: 13px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 9999;
  width: 100%;
}
.customNavbar .logo {
  text-align: left;
}
.customNavbar .logo img {
  width: 170px;
}
.customNavbar .navIcon {
  text-align: right;
  margin-top: 16px;
}
.customNavbar .navIcon a {
  cursor: pointer;
  color: #fff;
}
.customNavbar .navIcon i {
  font-size: 20px;
  color: #fff;
}

.fixedIcon {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.fixed-navbar {
  box-shadow: 0 2px 45px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in-out !important;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.fixed-navbar .normalIcon {
  display: none;
}
.fixed-navbar .fixedIcon {
  display: block;
  opacity: 1;
  visibility: visible;
}

.header .bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url("../video/video.mp4") no-repeat center center/cover;
}
.header .bg-video-wrap video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.header .bg-video-wrap::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}
.header .bg-video-wrap .header-content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.header .bg-video-wrap .header-content .caption-header {
  font-size: 53px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 7px;
  z-index: 9999;
  position: relative;
  font-family: esr;
}
.header .bg-video-wrap .header-content .caption-par {
  width: 764px;
  margin: auto;
  font-size: 16px;
  color: #fff;
  z-index: 9999;
  position: relative;
  max-width: 100%;
}
.header .bg-video-wrap .header-content .arrows {
  position: absolute;
  bottom: -50px;
  animation: arrowsanimation 1s infinite;
}
.header .bg-video-wrap .header-content .arrows i {
  color: #fff;
  display: block;
  margin-bottom: -14px;
}
.header .bg-video-wrap .header-content .arrows .arrow-02 {
  opacity: 0.8;
}
.header .bg-video-wrap .header-content .arrows .arrow-03 {
  opacity: 0.6;
}
.header .typed-cursor {
  visibility: hidden;
}

@keyframes arrowsanimation {
  0% {
    transform: translate(0, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(0, 10px);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.7;
  }
}
.aboutHome {
  padding-top: 115px;
  padding-bottom: 96px;
  position: relative;
  overflow: hidden;
}
.aboutHome .about-after {
  position: absolute;
  right: 0;
  bottom: -231px;
}
.aboutHome .about-content h6 {
  color: #ff0000;
  font-size: 18px;
  margin: 0;
}
.aboutHome .about-content h5 {
  margin: 0;
  margin-top: 12px;
  color: #00133a;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 19px;
}
.aboutHome .about-content p {
  font-size: 14px;
  color: #002060;
  margin: 0;
  margin-bottom: 40px;
  line-height: 25px;
}
.aboutHome .about-img {
  margin-left: 40px;
  text-align: right;
}
.aboutHome .about-img img {
  margin-top: -15px;
}

.btn-more .btnMore {
  background-image: linear-gradient(to right, #da007e, #ff6066);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  padding: 15px 4px;
  padding-right: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border-radius: 7px;
  width: 185px;
  display: inline-block;
  position: relative;
}
.btn-more .btnMore i {
  width: 37px;
  height: 37px;
  border-radius: 4px;
  background-color: #fff;
  color: #ff0000;
  text-align: center;
  line-height: 37px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 6px;
}
.btn-more .btnMore:hover {
  box-shadow: none;
}
.btn-more .btnMore:hover i {
  border-radius: 50%;
}

.our-insights-parent {
  background-image: linear-gradient(to right, #f8faff, #f3f6ff);
}
.our-insights-parent .se-header {
  text-align: center;
  padding-top: 40px;
}
.our-insights-parent .se-header h5 {
  color: #00133a;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
}

.ourInsights {
  display: flex;
  overflow: hidden;
}
.ourInsights .item {
  flex-grow: 1;
  height: 600px;
  background-color: darkred;
  position: relative;
  transition: all 300ms ease-in-out;
  background-position: center !important;
}
.ourInsights .item:hover {
  flex-grow: 2.3;
  background-color: #f10000;
}
.ourInsights .item:hover .item-content {
  visibility: visible;
  opacity: 1;
  display: block;
}
.ourInsights .item:hover .overlay {
  visibility: visible;
  opacity: 1;
  display: block;
}
.ourInsights .item .item-content {
  padding-left: 48px;
  padding-top: 116px;
  visibility: hidden;
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.ourInsights .item .item-content h5 {
  font-size: 20px;
  font-weight: bold;
  width: 260px;
  max-width: 100%;
  position: relative;
  z-index: 9;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding-left: 10px;
  line-height: 29px;
}
.ourInsights .item .item-content h5::before {
  content: "";
  background-color: #ff0000;
  width: 4px;
  height: 107px;
  position: absolute;
  left: 0;
}
.ourInsights .item .item-content p {
  font-size: 14px;
  width: 384px;
  max-width: 100%;
  position: relative;
  z-index: 9;
  color: #fff;
  line-height: 24px;
  margin: 0;
  margin-top: 50px;
}
.ourInsights .item .item-content .see-more {
  position: absolute;
  bottom: 40px;
}
.ourInsights .item .item-content .see-more span {
  font-size: 14px;
  color: #fff;
  position: relative;
}
.ourInsights .item .item-content .see-more i {
  color: #fff;
  z-index: 9;
  position: relative;
}
.ourInsights .item .overlay {
  visibility: hidden;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.our-services {
  margin-top: 100px;
  margin-bottom: 77px;
}
.our-services .section-header {
  text-align: center;
  padding-bottom: 11px;
  position: relative;
}
.our-services .section-header h6 {
  color: #ff0000;
  font-size: 18px;
  margin: 0;
  margin-bottom: 11px;
}
.our-services .section-header h5 {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 11px;
  color: #00133a;
  text-transform: uppercase;
}
.our-services .section-header p {
  color: #002060;
  font-size: 14px;
  line-height: 24px;
  width: 564px;
  margin: auto;
  max-width: 100%;
}
.our-services .section-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 54px;
  height: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ff0000;
}
.our-services .serv-content {
  margin-top: 120px;
}
.our-services .serv-content h5 {
  font-size: 28px;
  font-weight: bold;
  color: #002060;
  margin: 0;
  margin-bottom: 30px;
}
.our-services .serv-content p {
  margin: 0;
  color: #002060;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}
.our-services .serv-img {
  text-align: right;
  margin-top: 40px;
  position: relative;
}
.our-services .serv-img .imgAfter {
  position: absolute;
  right: -47px;
  top: 53px;
  z-index: -1;
}
.our-services .serv-img .imgAfter img {
  opacity: 0.6;
}
.our-services .serv-img .imgAfter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 32, 96, 0.8), rgba(255, 0, 0, 0.8));
}
.our-services .btn-more {
  margin-top: 60px;
}
.our-services .btn-more .btnMore {
  width: 225px;
}
.our-services .services-slider .slick-list {
  padding-bottom: 60px;
}
.our-services .services-slider .slider-item {
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
}
.our-services .services-slider .slider-item .serv-img .imgAfter {
  position: absolute;
  right: -36px;
  top: 19px;
}
.our-services .services-slider .slider-item .card-title {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
.our-services .services-slider .slick-arrow::before {
  position: absolute;
  color: #000;
}
.our-services .services-slider .slick-prev::before {
  content: "";
  font-weight: 900;
  line-height: 37px;
  color: #00133a;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid #00133a;
}
.our-services .services-slider .slick-next::before {
  content: "";
  font-weight: 900;
  color: #00133a;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid #00133a;
  line-height: 37px;
}
.our-services .services-slider .slick-dots {
  margin-bottom: 20px;
}
.our-services .services-slider .slick-dots li {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.our-services .services-slider .slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ebebeb;
  transition: all 0.3s;
  margin-right: 1.5px;
  margin-left: 1.5px;
}
.our-services .services-slider .slick-dots li button {
  visibility: hidden;
}
.our-services .services-slider .slick-dots .slick-active {
  width: 11px;
  height: 11px;
  background-color: #00133a;
  display: inline-block;
}

.breadcrumb {
  background-color: #00133a;
  padding: 125px 0;
  text-align: center;
  position: relative;
  border-radius: 0;
}
.breadcrumb h6 {
  font-size: 160px;
  font-weight: bold;
  color: #00133a;
  position: absolute;
  text-shadow: -1px 0 rgba(231, 231, 231, 0.2), 0 1px rgba(231, 231, 231, 0.2), 1px 0 rgba(231, 231, 231, 0.2), 0 -1px rgba(231, 231, 231, 0.2);
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.breadcrumb h5 {
  font-size: 53px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  color: #fff;
  position: relative;
  z-index: 5;
}
.breadcrumb p {
  color: #fff;
  font-size: 14px;
  width: 564px;
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: 5;
}

.ourServisePage {
  margin-bottom: 110px;
}
.ourServisePage .our-services {
  margin-top: 0;
  margin-bottom: 0;
}
.ourServisePage .our-services .btn-more {
  text-align: left !important;
  margin-top: 0 !important;
}
.ourServisePage .our-services .btn-more .btnMore {
  width: 185px;
}
.ourServisePage .our-services .serv-content {
  position: relative;
}
.ourServisePage .our-services .serv-content .number {
  font-size: 57px;
  color: #002060;
  font-weight: bold;
  position: relative;
  z-index: 4;
}
.ourServisePage .our-services .serv-content h5,
.ourServisePage .our-services .serv-content p {
  position: relative;
  z-index: 4;
}
.ourServisePage .our-services .serv-content .bigNumber {
  position: absolute;
  font-size: 205px;
  color: #fff;
  top: -88px;
  left: -70px;
  font-weight: bold;
  z-index: 1;
  text-shadow: -1px 0 rgba(201, 201, 201, 0.4), 0 1px rgba(201, 201, 201, 0.4), 1px 0 rgba(201, 201, 201, 0.4), 0 -1px rgba(201, 201, 201, 0.4);
}
.ourServisePage .our-services .serv-img {
  margin-top: 90px;
}
.ourServisePage .our-services .serv-img .imgAfter {
  top: 73px !important;
}
.ourServisePage .our-services .leftCard .serv-img {
  text-align: left !important;
}
.ourServisePage .our-services .leftCard .serv-img .imgAfter {
  right: unset;
  left: -47px;
}

.bgMoveParent {
  overflow: hidden;
}

.service-detials .serv-header {
  position: relative;
}
.service-detials .serv-header h5 {
  font-size: 135px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -1px 0 rgba(0, 61, 148, 0.07), 0 1px rgba(0, 61, 148, 0.07), 1px 0 rgba(0, 61, 148, 0.07), 0 -1px rgba(0, 61, 148, 0.07);
  position: absolute;
  top: -60px;
}
.service-detials .ser-breadcrumb {
  margin-top: 70px;
}
.service-detials .ser-breadcrumb h5 {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 7px;
  position: relative;
  z-index: 9;
}
.service-detials .ser-breadcrumb ul {
  display: block !important;
  margin-bottom: 47px;
  position: relative;
  z-index: 9;
}
.service-detials .ser-breadcrumb ul li {
  display: inline-block;
  position: relative;
  z-index: 9;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}
.service-detials .ser-breadcrumb ul li a {
  color: rgba(0, 32, 96, 0.7);
  font-size: 14px;
}
.service-detials .ser-breadcrumb ul li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -10px;
  color: rgba(0, 32, 96, 0.7);
}
.service-detials .ser-breadcrumb ul li:first-child {
  padding-left: 0;
}
.service-detials .ser-breadcrumb ul li:first-child a {
  position: relative;
}
.service-detials .ser-breadcrumb ul li:first-child a::before {
  content: "";
  color: #00133a;
  margin-top: 2px;
  margin-right: 5px;
  color: rgba(0, 32, 96, 0.7);
}
.service-detials .ser-breadcrumb ul li:last-child::after {
  content: "";
}
.service-detials .serv-img-content .servContent p {
  margin: 0;
  margin-bottom: 28px;
  color: rgba(0, 32, 96, 0.7);
  line-height: 24px;
  font-size: 16px;
}
.service-detials .serv-img-content .serv-img {
  text-align: right;
}
.service-detials .serv-img-content .serv-img .imgAfter {
  position: absolute;
  right: -100px;
  top: 53px;
  z-index: -1;
}
.service-detials .serv-img-content .serv-img .imgAfter img {
  opacity: 0.6;
}
.service-detials .serv-img-content .serv-img .imgAfter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 32, 96, 0.8), rgba(255, 0, 0, 0.8));
}
.service-detials .aboutTheServ {
  margin-top: 150px;
}
.service-detials .aboutTheServ .aboutHead h5 {
  font-size: 35px;
  color: #002060;
  font-weight: bold;
  margin: 0;
  width: 362px;
  max-width: 100%;
  position: relative;
}
.service-detials .aboutTheServ .aboutHead h5::before {
  position: absolute;
  left: 40%;
  top: -170px;
  transform: translate(-40%, 0);
  content: "";
  background-color: #ff0000;
  width: 2px;
  height: 164px;
}
.service-detials .aboutTheServ .aboutHead h5::after {
  content: url("../images/line-after.png");
  position: absolute;
  top: 100%;
  margin-top: 40px;
  left: -5%;
}
.service-detials .aboutTheServ .aboutPar p {
  font-size: 16px;
  color: rgba(0, 32, 96, 0.7);
}
.service-detials .featureList {
  margin-top: 50px;
  margin-bottom: 50px;
}
.service-detials .featureList .listUl {
  padding-left: 160px;
  margin-top: 40px;
}
.service-detials .featureList .listUl ul li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
}
.service-detials .featureList .listUl ul li .number {
  position: absolute;
  font-size: 16px;
  color: #002060;
  font-weight: bold;
  left: 0;
}
.service-detials .featureList .listUl ul li p {
  color: rgba(0, 32, 96, 0.7);
}
.service-detials .featureList .feat-cards .customMargin {
  margin-top: 25px;
}
.service-detials .featureList .feat-cards .fCard {
  background-color: #efefef;
  text-align: center;
  padding: 15px;
  border-radius: 13px;
  margin-bottom: 20px;
}
.service-detials .featureList .feat-cards .fCard .card-number {
  font-size: 53px;
  color: #ff0000;
  font-weight: bold;
}
.service-detials .featureList .feat-cards .fCard .card-text {
  color: rgba(0, 32, 96, 0.7);
  font-size: 14px;
  margin: 0;
}
.service-detials .empty-col {
  background-color: #032a79;
  height: 237px;
}
.service-detials .nextPervious .row {
  margin: 0;
}
.service-detials .nextPervious .row .col-sm-12 {
  padding: 0;
}
.service-detials .nextPervious .cardNews {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 44px;
  padding-bottom: 44px;
  position: relative;
  display: block;
}
.service-detials .nextPervious .cardNews::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 32, 96, 0.8);
}
.service-detials .nextPervious .cardNews h6 {
  font-size: 16px;
  font-weight: normal;
  font-weight: 100;
}
.service-detials .nextPervious .cardNews .card-title {
  font-size: 24px;
}
.service-detials .nextPervious .cardNews .card-text {
  font-size: 14px;
}
.service-detials .nextPervious .cardNews h6,
.service-detials .nextPervious .cardNews h5,
.service-detials .nextPervious .cardNews p,
.service-detials .nextPervious .cardNews i {
  color: #fff;
  position: relative;
  z-index: 9;
}
.service-detials .nextPervious .cardNews i {
  color: #ff0000;
}
.service-detials .nextPervious .prevCard {
  text-align: right;
}
.service-detials .nextPervious .nextCard {
  text-align: left;
}

.about-breadcrumb {
  padding-top: 95px;
  padding-bottom: 78px;
  position: relative;
}
.about-breadcrumb::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 32, 96, 0.7);
}
.about-breadcrumb .secheader {
  position: absolute;
  top: 10px;
  left: -20px;
}
.about-breadcrumb h5,
.about-breadcrumb p,
.about-breadcrumb a {
  position: relative;
  z-index: 9;
}
.about-breadcrumb h5,
.about-breadcrumb p {
  color: #fff;
}
.about-breadcrumb h5 {
  font-size: 53px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.about-breadcrumb p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 36px;
  width: 564px;
  max-width: 100%;
}
.about-breadcrumb .btn-more .btnMore {
  box-shadow: 0 3px 20px rgba(233, 39, 116, 0.61);
}

.aboutContentImg {
  margin-top: 65px;
}
.aboutContentImg .about-content {
  margin-top: 45px;
}
.aboutContentImg .about-content h5 {
  color: #002060;
  font-size: 28px;
  margin: 0;
  margin-bottom: 13px;
}
.aboutContentImg .about-content p {
  color: rgba(0, 32, 96, 0.7);
  font-size: 16px;
  margin-bottom: 20px;
  width: 540px;
  line-height: 28px;
  max-width: 100%;
}
.aboutContentImg .about-img {
  text-align: right;
}
.aboutContentImg .about-img img {
  max-height: 482px;
}

.aboutCards {
  margin-bottom: 56px;
  margin-top: 102px;
}
.aboutCards .aboutCar {
  margin-bottom: 30px;
}
.aboutCards .card-img {
  border-radius: 0;
  position: relative;
}
.aboutCards .card-img h5 {
  font-size: 41px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: -12px;
  left: -2px;
  margin: 0;
}
.aboutCards .card-text {
  margin: 0;
  color: rgba(0, 32, 96, 0.7);
  font-size: 16px;
  margin-top: 26px;
}

.contactUs .secHeader {
  position: relative;
  top: -10px;
  z-index: 9;
}
.contactUs .secHeader img {
  position: absolute;
}
.contactUs .contact-form-img {
  padding-top: 90px;
  overflow: hidden;
}
.contactUs .contact-form-img .parentRow {
  margin: 0;
}
.contactUs .contact-form-img .parentRow .parentCol {
  padding: 0;
}
.contactUs .contact-form-img .contact-form {
  padding-left: 91px;
  padding-right: 100px;
}
.contactUs .contact-form-img .contact-form h5 {
  font-size: 47px;
  color: #002060;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}
.contactUs .contact-form-img .contact-form p {
  color: #002060;
  font-size: 14px;
  width: 465px;
  max-width: 100%;
  margin-bottom: 34px;
  position: relative;
  z-index: 10;
}
.contactUs .contact-form-img .contact-form .btn-more {
  margin-top: 20px;
}
.contactUs .contact-form-img .form-group .form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #ff0000;
}
.contactUs .contact-form-img .form-group .form-control::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
.contactUs .contact-form-img .form-group textarea {
  height: 74px !important;
}
.contactUs .contact-form-img .form-img {
  margin-left: 90px;
  margin-top: -50px;
}
.contactUs .contact-form-img .form-img .card-img {
  padding-bottom: 156px;
  padding-top: 156px;
  width: 640px;
  padding-left: 110px;
  padding-right: 85px;
  max-width: 100%;
  border-radius: 0;
  position: relative;
  z-index: 10;
}
.contactUs .contact-form-img .form-img .card-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 19, 58, 0.54);
  z-index: 10;
}
.contactUs .contact-form-img .form-img .card-img p {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  width: 445px;
  max-width: 100%;
  position: relative;
  z-index: 11;
  line-height: 62px;
  margin: 0;
}
.contactUs .contact-map {
  margin-top: -50px;
}
.contactUs .contact-map iframe {
  height: 564px;
  width: 100%;
  filter: grayscale(1);
}
.contactUs .contact-info {
  padding-top: 121px;
  position: relative;
  margin-top: -10px;
  overflow: hidden;
}
.contactUs .contact-info::after {
  background-color: rgba(0, 32, 96, 0.88);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
}
.contactUs .contact-info .contact-card {
  position: relative;
  z-index: 9;
  padding-left: 70px;
  padding-bottom: 26px;
  height: 123px;
}
.contactUs .contact-info .contact-card .card-img {
  position: absolute;
  left: 0;
}
.contactUs .contact-info .contact-card .card-title,
.contactUs .contact-info .contact-card .card-text {
  color: #fff;
  margin: 0;
}
.contactUs .contact-info .contact-card .card-title {
  font-size: 16px;
  font-weight: bold;
}
.contactUs .contact-info .contact-card .card-text {
  font-size: 14px;
}
.contactUs .contact-info .contact-card::after {
  content: "";
  width: 65px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 70px;
  bottom: 0;
}
.contactUs .contact-info .contactInfoHeader {
  text-align: center;
  margin-top: 153px;
}
.contactUs .contact-info .contactInfoHeader h5 {
  font-size: 135px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 9;
  margin: 0;
}
.contactUs .contact-info .contactInfoHeader p {
  color: #fff;
  position: relative;
  z-index: 10;
}
.contactUs .contact-info .clouds {
  position: absolute;
  bottom: -15px;
  z-index: 9;
  animation: moveclouds 15s linear infinite;
}
.contactUs .contact-info .clouds img {
  float: right;
  width: 50%;
  display: inline;
}
.contactUs .copy {
  position: relative;
  margin-top: 40px;
  z-index: 11;
  padding-top: 24px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.contactUs .copy h5 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.83);
  font-weight: normal;
  margin: 0;
}
.contactUs .copy .soacial {
  text-align: right;
}
.contactUs .copy .soacial a i {
  color: #fff;
  margin-left: 15px;
}

.siteFooter {
  background-color: #002060;
  padding-top: 74px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.siteFooter .lichtCircle {
  position: absolute;
}
.siteFooter .lines {
  position: absolute;
  top: 0;
  opacity: 0.4;
}
.siteFooter .line-01 {
  right: 44px;
}
.siteFooter .line-02 {
  right: 164px;
}
.siteFooter .line-03 {
  right: 330px;
}
.siteFooter .line-04 {
  left: 345px;
}
.siteFooter .line-05 {
  left: 235px;
}
.siteFooter .line-06 {
  left: -70px;
  top: 60px;
}
.siteFooter .footer-logo {
  text-align: center;
  margin-bottom: 37px;
}
.siteFooter .footer-links {
  text-align: center;
}
.siteFooter .footer-links li {
  display: inline-block;
  margin-left: 31px;
  margin-right: 31px;
}
.siteFooter .footer-links li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}
.siteFooter .footer-links li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translate(0, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #024ac6;
}
.siteFooter .footer-links li:first-child a::after {
  content: "";
  display: none;
}
.siteFooter .copy {
  margin-top: 40px;
  padding-top: 24px;
}
.siteFooter .copy h5 {
  margin: 0;
  color: rgba(255, 255, 255, 0.83);
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}
.siteFooter .copy h5 span {
  text-transform: none;
}
.siteFooter .copy .social {
  text-align: right;
}
.siteFooter .copy .social i {
  color: rgba(4, 59, 170, 0.83);
  margin-right: 5px;
  margin-left: 5px;
}

.breadcrumb.servDebreadcrumb h6 {
  font-size: 100px !important;
}

@keyframes circleanimation {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1024px) {
  .service-detials .serv-img-content .serv-img .imgAfter {
    right: 0;
  }

  .service-detials .serv-header h5 {
    font-size: 91px;
  }

  .aboutContentImg .about-content {
    margin-top: 0;
  }

  .contactUs .contact-form-img .contact-form {
    padding-right: 0;
  }

  .contactUs .contact-form-img .contact-form h5 {
    font-size: 43px;
  }

  .contactUs .contact-form-img .form-img .card-img p {
    font-size: 38px;
    line-height: 48px;
  }

  .breadcrumb.servDebreadcrumb h6 {
    font-size: 60px !important;
  }

  .breadcrumb h5 {
    word-break: break-all;
  }
}
@media (max-width: 991px) {
  .topheader .topheader-links {
    text-align: center;
  }
  .topheader .topheader-links li {
    margin-left: 5px;
    margin-right: 5px;
  }

  .aboutHome .about-img img {
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  .our-services .serv-img {
    text-align: center;
    margin-bottom: 20px;
  }

  .our-services .serv-img .imgAfter {
    right: 110px;
  }

  .ourInsights {
    display: block;
  }

  .ourInsights .item .overlay,
.ourInsights .item .item-content {
    visibility: visible;
    display: block;
    opacity: 1;
  }

  .siteFooter .line-04,
.line-03 {
    display: none;
  }

  .ourServisePage .our-services .serv-content .bigNumber {
    left: -15px;
  }

  .ourServisePage .our-services .serv-img {
    margin-top: 0;
  }

  .servCard {
    margin-bottom: 150px;
  }

  .ourServisePage .our-services .leftCard .serv-img {
    text-align: center !important;
  }

  .ourServisePage .our-services .leftCard .serv-img .imgAfter {
    left: 140px;
  }

  .ourServisePage .our-services .serv-img .imgAfter {
    top: 44px !important;
  }

  .ourServisePage .our-services .serv-img {
    margin-bottom: 60px;
  }

  .leftCard .serv-img {
    margin-bottom: 0;
  }

  .breadcrumb h6 {
    font-size: 100px;
    word-break: break-all;
  }

  .leftCard {
    margin-bottom: 80px;
  }

  .ourServisePage .our-services {
    margin-top: 30px;
  }

  .ourServisePage .our-services .leftCard .serv-img {
    margin-bottom: 0;
  }

  .service-detials .featureList .listUl {
    padding-left: 0;
  }

  .service-detials .empty-col {
    display: none;
  }

  .service-detials .nextPervious .cardNews {
    padding-left: 30px;
    padding-right: 30px;
  }

  .aboutContentImg .about-img {
    text-align: center;
  }

  .contactUs .contact-form-img .contact-form {
    padding-left: 0;
  }

  .contactUs .contact-form-img .form-img {
    margin-top: 30px;
  }

  .contactUs .contact-form-img .form-img {
    margin-left: 0;
  }

  .contactUs .contact-form-img .form-img .card-img {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .contactUs .contact-info .contact-card {
    margin-bottom: 30px;
  }

  .slick-next,
.slick-prev {
    top: 100%;
  }

  .services-slider .slick-prev {
    left: 5px !important;
  }
  .services-slider .slick-next {
    right: 15px !important;
  }

  .our-services .services-slider .slick-list {
    padding-bottom: 20px;
  }

  .our-services {
    padding-bottom: 30px;
  }

  .contactUs .contact-form-img .contact-form {
    padding-right: 20px;
    padding-left: 20px;
  }

  .sidenav .social {
    position: unset;
    transform: none;
  }

  .sidenav .links {
    margin-bottom: 50px;
  }
}
/* Small Screens */
/* Mobile & Tablets */
/* Tablets */
@media (max-width: 479px) {
  .our-services .serv-img .imgAfter {
    right: 0;
  }

  .our-services .section-header h5 {
    font-size: 25px;
  }

  .topheader {
    text-align: center;
  }
  .topheader .social {
    text-align: center;
  }

  .header .bg-video-wrap .header-content .caption-par {
    width: 96%;
  }

  .ourInsights .item .item-content {
    padding-left: 16px;
  }

  .ourInsights .item .item-content p {
    width: 100%;
  }

  .siteFooter .footer-links li a::after {
    left: -16px;
  }

  .siteFooter .footer-links li {
    width: 25%;
  }

  .siteFooter .footer-links {
    text-align: left;
  }

  .siteFooter .footer-links li:first-child a::after {
    display: block !important;
  }

  .siteFooter .line-05 {
    display: none;
  }

  .breadcrumb h6 {
    font-size: 65px;
  }

  .ourServisePage .our-services .leftCard .serv-img .imgAfter {
    left: unset;
  }

  .siteFooter .copy .social {
    text-align: center;
  }

  .siteFooter .copy h5 {
    text-align: center;
  }

  .service-detials .serv-header h5 {
    font-size: 55px;
  }

  .service-detials .aboutTheServ .aboutHead h5::after {
    display: none;
  }

  .service-detials .aboutTheServ .aboutHead h5 {
    font-size: 28px;
  }

  .service-detials .featureList {
    margin-top: 46px;
  }

  .contactUs .copy {
    text-align: center;
  }
  .contactUs .copy .soacial {
    text-align: center;
    margin-top: 20px;
  }

  .contactUs .contact-info .contactInfoHeader h5 {
    font-size: 100px;
  }

  .our-services .services-slider .slider-item .serv-img .imgAfter {
    top: 38px;
  }

  .services-slider .slick-next {
    right: 30px !important;
  }

  .activeSideNavLinks:nth-child(2) {
    transform: translateY(10px) translate(0px);
  }

  .breadcrumb h5 {
    font-size: 40px;
  }
}
@media (max-width: 376px) {
  .siteFooter .footer-links li {
    width: auto;
  }

  .service-detials .featureList .listUl ul li .number {
    position: unset;
  }

  .service-detials .featureList .listUl ul li {
    padding-left: 0;
  }

  .our-services .services-slider .slider-item .card-title {
    margin-top: 22px;
  }

  .our-services .services-slider .slick-dots {
    margin-bottom: 0;
  }
}
@media (max-width: 321px) {
  .aboutHome .about-content h5 {
    font-size: 30px;
  }

  .service-detials .serv-header h5 {
    font-size: 40px;
  }

  .contactUs .contact-form-img .form-img .card-img p {
    font-size: 27px;
  }

  .our-services .services-slider .slick-dots {
    margin-top: 0;
  }
}
.ourServisePage .our-services .leftCard .btn-more {
  text-align: right !important;
}

.activeInput {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(2px);
}

.service-detials .ser-breadcrumb ul li::after, .service-detials .ser-breadcrumb ul li:first-child a::before {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidenav .links .sideLink, .ourInsights .item, .service-detials .nextPervious .cardNews, .about-breadcrumb, .aboutCards .card-img, .contactUs .contact-form-img .form-img .card-img, .contactUs .contact-info {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

.our-services .services-slider .slick-prev::before, .our-services .services-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.sidenav .closebtn, .btn-more .btnMore, .btn-more .btnMore i, .service-detials .nextPervious .cardNews {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::selection {
  background-color: salmon;
  color: white;
}

.parallax > use {
  animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.editorial {
  display: block;
  width: 100%;
  height: 3em;
  max-height: 100vh;
  margin: 0;
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
